In [38]:
import pandas as pd

In [39]:
df = pd.read_csv('flight_data.csv')

In [40]:
df.head()

,Flight_ID,Date,Time,Departure_Airport,Arrival_Airport,Temperature_Celsius,Wind_Speed_knots,Turbulence_Level,Visibility_km
0,142,2024-10-11,10:25,ATL Airport,SEA Airport,35,45,High,19
1,110,2024-01-20,18:38,IAH Airport,AUS Airport,3,25,Low,6
2,113,2024-12-26,12:50,STL Airport,SEA Airport,20,48,Medium,6
3,3,2024-08-19,07:28,MCO Airport,LAS Airport,33,48,High,18
4,22,2024-12-07,07:10,LAX Airport,SEA Airport,28,34,Low,20

In [41]:
df['departure_code'] = df['Departure_Airport'].str.split(' Airport', n=1, expand= True)[0]

df

,Flight_ID,Date,Time,Departure_Airport,Arrival_Airport,Temperature_Celsius,Wind_Speed_knots,Turbulence_Level,Visibility_km,departure_code
0,142,2024-10-11,10:25,ATL Airport,SEA Airport,35,45,High,19,ATL
1,110,2024-01-20,18:38,IAH Airport,AUS Airport,3,25,Low,6,IAH
2,113,2024-12-26,12:50,STL Airport,SEA Airport,20,48,Medium,6,STL
3,3,2024-08-19,07:28,MCO Airport,LAS Airport,33,48,High,18,MCO
4,22,2024-12-07,07:10,LAX Airport,SEA Airport,28,34,Low,20,LAX
...,...,...,...,...,...,...,...,...,...,...
9995,113,2024-10-17,11:44,CLT Airport,AUS Airport,-15,17,High,2,CLT
9996,128,2024-11-16,20:02,PHL Airport,CMH Airport,-8,6,Medium,12,PHL
9997,9,2024-07-23,13:16,LAS Airport,DEN Airport,9,22,Medium,4,LAS
9998,51,2024-05-19,13:29,TPA Airport,SAN Airport,-11,2,Medium,12,TPA
9999,193,2024-10-26,00:06,CLT Airport,IND Airport,24,34,High,1,CLT

In [42]:
df['Datetime'] = pd.to_datetime(df['Date'] + ' ' + df['Time'])

In [43]:
df['arrival_code'] = df['Arrival_Airport'].str.split(' Airport', n=1, expand= True)[0]

df = df.drop(columns=['Arrival_Airport','Departure_Airport', 'Date', 'Time'], inplace=False)

df.index = df['Flight_ID']

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 142 to 193
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Flight_ID            10000 non-null  int64
 1   Temperature_Celsius  10000 non-null  int64
 2   Wind_Speed_knots     10000 non-null  int64
 3   Turbulence_Level     10000 non-null  object
 4   Visibility_km        10000 non-null  object
 5   departure_code       10000 non-null  object
 6   Datetime             10000 non-null  datetime64[ns]
 7   arrival_code         10000 non-null  object
dtypes: datetime64[ns](1), int64(3), object(4)
memory usage: 703.1+ KB

In [44]:
df.to_csv('data_clean.csv')